target/
src/test/

.settings/
.idea/

*.iml
*.class
*.jar
*.war
*.tmp

.classpath
.project
.git-credentials
.*-credentials

node_modules/
docs/test/
docs/*.yml
docs/bower.json
docs/CONTRIBUTING.md
docs/demo.html
docs/LICENSE
docs/README.md
docs/package-lock.json
