target/
src/test/

.settings/
.idea/

*.iml
*.class
*.jar
*.war
*.tmp

.classpath
.project
.git-credentials
.*-credentials

node_modules/
public/test/
public/*.yml
public/bower.json
public/CONTRIBUTING.md
public/demo.html
public/LICENSE
public/README.md
public/package-lock.json